{% extends 'admin.html.twig' %}

{% block body %}

    {{ form_start(form) }}

    {{ form_row(form.titre) }}
    {{ form_row(form.type) }}
    {{ form_row(form.bien) }}
    {{ form_row(form.typebien) }}
    {{ form_row(form.commune) }}
    {{ form_row(form.piece) }}
    {{ form_row(form.chambre) }}
    {{ form_row(form.douche) }}
    {{ form_row(form.prix) }}
    {{ form_row(form.description) }}
    {{ form_row(form.image) }}


        <button type="submit">Modifier</button>

    {{ form_end(form) }}
{% endblock %}