{% extends 'base.html.twig' %}

{% block body %}

    <div class="slide">
        <div>
            <p class="slide-text-top container">Gbata</p>
            <img src="{{ asset('upload/slide/01.jpg' ) }}" />
            <p class="slide-text container">Service d'offre immobilière</p>
        </div>
        <div>
            <p class="slide-text-top container">Gbata service</p>
            <img src="{{ asset('upload/slide/02.jpg' ) }}" />
            <p class="slide-text container">Service facile d'ulitisation</p>
        </div>
    </div>
  
   <div class="container immo-front front">
        <h2>Dernières offres</h2>
        <div class="row">
            
        {% for immobilier in immobiliers %}

            <div class="col-4 offre-immo-front">
                <div class="col-12 type-immo-front"> <span>{{ immobilier.type }} </span></div>
                <div class="col-12 image-immo-front">
                    <img src="{{ asset('upload/image_immo/' ~ immobilier.imageImmo) }}" style="height:230px" />
                </div>
                <div class="col-12 autre-offre">
                    <div class="col-12 titre-immo-front">{{ immobilier.titre }}</div>
                    <div class="row row-com-bien">
                        <div class="col-6 comm-immo-front"><i class="fas fa-map-marker-alt"></i> {{ immobilier.commune }} </div>
                        <div class="col-6 bien-immo-front"> {{ immobilier.typebien }} </div>

                        {% if immobilier.bien == 'maison' %}
                    
                        <div class="col pcs"><i class="fas fa-key"></i>  {{ immobilier.piece }} Pièces</div>
                        <div class="col chbr"> <i class="fas fa-bed"></i> {{ immobilier.chambre }} </div>
                        <div class="col dwc"> <i class="fas fa-bath"></i> {{ immobilier.douche }} </div>
                    
                        {% endif %}
                    
                    </div>
                    
                    <div class="col-sm-12 loyer">
                        {{ immobilier.prix}} <span>fcfa</span>
                        {% if immobilier.type == 'location' %}
                            <span class="mois">/mois</span>
                            {% endif %}
                    </div>
                    <div class="voir-offre"><a href="{{path('contenu_immobilier', {'id': immobilier.id})}}"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M10.146 4.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L12.793 8l-2.647-2.646a.5.5 0 0 1 0-.708z"/>
                        <path fill-rule="evenodd" d="M2 8a.5.5 0 0 1 .5-.5H13a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 8z"/>
                        </svg></a></div>
                </div>
            </div>
        {% endfor %}
        </div>
        <p class="voir-plus"><a href="{{path('list_immobilier')}}">Voir plus d'offre</a></p>
   </div>

   <div class="paralax">
       <div class="container">
            <p class="para-top">Avec une demande en logement de plus <span>450 000</span>...</p>
            <div class="row">
                <div class="col">
                    <p><i class="fas fa-clock"></i></p>
                    <p>Temps recherche assez long</p></div>
                <div class="col">
                    <p><i class="fas fa-money-check-alt"></i></p>
                    <p>Coût de recherche élévé</p></div>
                <div class="col">
                    <p><i class="fas fa-times-circle"></i></p>
                    <p>Choix limité</p></div>
            </div>
        </div>
   </div>

   <div class="phone">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <p class="phone-top">Inscrivez vous au service SMS et recevez des offres</p>
                    <p>Simple et facile, des informrtion d'offres où que vous soyez et sans internet</p>
                    <div class="row">
                        <div class="col">
                            <span>1</span></spav><p>Envoyez au <span>+22547113202</span></p>
                        </div>
                        <div class="col">
                            <span>2</span><p>GBATA<span>*</span>Votre nom</p>
                        </div>
                        <div class="col">
                            <span>3</span><p>Suivez les instruction du serveur</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/y20jZzMQ0mw?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
