{% extends 'admin.html.twig' %}

{% block body %}

<script type="text/javascript">
        $(function() {
            $('textarea.ckeditor').ckeditor();
        });
</script>
    <div class="container">
        <div class="row">
            {{ form_start(form) }}
            {{ form_row(form.utilisateur, { 'attr': {'class': 'hidden-row'} }) }}
                {{ form_row(form.titre) }}
                {{ form_row(form.type) }}
                {{ form_row(form.bien) }}
                {{ form_row(form.typebien) }}
                {{ form_row(form.commune) }}
                {{ form_row(form.piece) }}
                {{ form_row(form.chambre) }}
                {{ form_row(form.douche) }}
                {{ form_row(form.prix) }}
                {{ form_row(form.description) | raw  }}
                <p class="alert alert-warning">Veuillez uploader des images jpeg ou jpg, poids maximum 2Mo.
                Laissez vide ou devez inserer les 3 images obligatoires</p>
                <div class="col-sm-4">{{ form_row(form.image) }}</div> 
                <div class="col-sm-4">{{ form_row(form.image2) }}</div> 
                <div class="col-sm-4">{{ form_row(form.image3) }}</div>  
            <button type="submit" class="btn btn-primary btn-rechercher">Enregistrer</button>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}
