{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        {{ form_start(form) }}
        {{ form_row(form.titre) }}
        {{ form_row(form.type) }}
        {{ form_row(form.bien) }}
        {{ form_row(form.bienType) }}
        {{ form_row(form.prix) }}
        {{ form_row(form.piece) }}
        {{ form_row(form.chambre) }}
        {{ form_row(form.douche) }}
        {{ form_row(form.description) }}
        <button type="submit">Enregistrer</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
