{% extends 'admin.html.twig' %}

{% block body %}
    <div class="container mt-4">
        {{ form_start(form) }}
            {{ form_row(form.email) }}
            {{ form_row(form.roles) }}
            {{ form_row(form.isActive) }}
            <button type="submit">Modifier</button>

        {{ form_end(form) }}
    </div>
{% endblock %}