{% extends 'admin.html.twig' %}

{% block body %}
    <div class="container mt-4">
        {{ form_start(form) }}
        {{ form_row(form.username) }}
        {{ form_row(form.password) }}
        {{ form_row(form.email) }}
            <button type="submit" class="btn btn-primary">Modifier</button>

        {{ form_end(form) }}
    </div>
{% endblock %}