{% extends 'admin.html.twig' %}

{% block body %}

    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Bien</th>
                    <th scope="col">Type</th>
                     <th scope="col">Type Bien</th>
                    <th scope="col">Commune</th>
                    <th scope="col">Pièces</th>
                    <th scope="col">Budget</th>
                     <th scope="col">Actions</th>
                </tr>
            </thead>
            {% for demande in demandes %}
                <tbody>
                    <tr>
                        <td> {{ demande.bien }} </td>
                        <td> {{ demande.type }} </td>
                        <td> {{ demande.typebien}} </td>
                        <td> {{ demande.commune}} </td>
                        <td> {{ demande.piece}} </td>
                        <td> {{ demande.budget }} </td>
                        <td> <a href="{{ path('admin_demande_immo_edit',{ id:demande.id}) }}" class="btn btn-primary">
                                Modifier</a> </td>
                    </tr>
                </tbody>
            {% endfor %}
        </table>
    </div>

{% endblock %}