{% extends 'admin.html.twig' %}

{% block body %}


    <div class="container mt-4">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Titre</th>
                <th scope="col">Type</th>
                <th scope="col">Bien</th>
                <th scope="col">Type Bien</th>
                <th scope="col">Commune</th>
                <th scope="col">Prix</th>
                <th scope="col">Pièces</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            {% for immobilier in immobiliers %}
                <tbody>
                <tr>
                    <td> {{ immobilier.id }} </td>
                    <td> {{ immobilier.titre }} </td>
                    <td> {{ immobilier.type }} </td>
                    <td> {{ immobilier.bien }} </td>
                    <td> {{ immobilier.typebien }} </td>
                    <td> {{ immobilier.commune}} </td>
                    <td> {{ immobilier.prix}} </td>
                    <td> {{ immobilier.piece }} </td>
                    <td> <a href="{{ path('admin_immobilier_edit',{id:immobilier.id})}}" class="btn btn-primary" >Modifier</a> 

                    <a href="javascript:void(0)" onclick="if(confirm('Voulez vous vraiment supprimer cette offre !')){window.location='{{ path('admin_immobilier_delete',{id:immobilier.id})}}';}" class="btn btn-danger">Supprimer</a>


                     </td>
                   

                </tr>
                </tbody>

        {% endfor %}
        </table>

      {#  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Suppression</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Voulez vous réellement supprimer cette offre
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="{{ path('admin_immobilier_delete',{id:immobilier.id})}}" class="btn btn-danger">Supprimer</a>
                    <button type="button" class="btn btn-primary">Supprimer</button>
                </div>
            </div>
        </div>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">Supprimer</button>

    </div> #}

{% endblock %}


 