{% extends 'base.html.twig' %}

{% block body %}
        
    <div class="row justify-content-md-center" style="width:100%">

        {% if is_granted('ROLE_ANNONCEUR') %} 
                    <div class="admin-action col-12 col-md-8"><a href="{{ path('admin_immobilier_edit',{id:immobilier.id})}}" class="btn btn-primary" >Modifier</a> </div>
                {% endif %} 
        <div class="col-sm-12 col-md-10 col-lg-8 col-xl-8">      
            <div class="col-12 offre-immo">

                <div class="row">

                    
                    <div class="col-lg-9 col-12">
                        {% if immobilier.datecreation == immobilier.datemodifcation %}
                        <div class="col-12 col-date-modif">Publiée le {{ immobilier.datecreation|date("d/m/y") }} </div>
                        {% else %}
                        <div class="col-12 col-date-modif">Modifié le {{ immobilier.datemodifcation|date("d/m/y") }} </div>
                        {% endif %}
                        <div class="col-12 titre-immo"> {{ immobilier.titre }} </div>

                        <div class="row row-offre-contenu">
                            <div class="col-6 bien-immo"> {{ immobilier.typebien }} </div>
                            
                            {% if immobilier.bien == 'maison' %}
                        
                                <div class="col-2 pcs"><i class="fas fa-key"></i>  {{ immobilier.piece }}</div>
                                <div class="col-2 chbr"> <i class="fas fa-bed"></i> {{ immobilier.chambre }} </div>
                                <div class="col-2 dwc"> <i class="fas fa-bath"></i> {{ immobilier.douche }} </div>
                        
                            {% endif %}
                        </div>
                    </div>

                    <div class="col-lg-3 col loyer_immo">

                    {% set twigVariable = immobilier.prix %}
                       <p><span id="prix"> </span>   <span>fcfa</span>
                            {% if immobilier.type == 'location' %}
                            <span style="display:block;font-size:13px;position: relative;top: -12px;">par mois</span>
                            {% endif %}
                        </p>

                        <script> 
                            function formatNumber (num) {
                            return num.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1.");
                            }
                            var prix = formatNumber({{ twigVariable }}); 
                            document.getElementById("prix").innerHTML = prix;                             
                       </script>

                        <div class="col-12 comm-immo"><i class="fas fa-map-marker-alt"></i> {{ immobilier.commune }} </div>
                    </div>
                </div>

                <div class="col-12 type-immo-contenu"> <span>{{ immobilier.type }} </span></div>
                <div class="col-sm-12">
                    <div class="col-12 image-immo">
                        {% if immobilier.imageImmo %}
                            <img src="{{ asset('upload/image_immo/' ~ immobilier.imageImmo) }}" style=" width: 100% !important;max-width: 877px;max-height: 550px;" />
                        {% else %}
                            <img src="{{ asset('upload/image/gbatad1.jpeg') }}" style=" width: 100% !important;max-width: 877px;max-height: 550px;" />
                        {% endif %}

                        {% if immobilier.imageImmo2 %}
                            <img src="{{ asset('upload/image_immo/' ~ immobilier.imageImmo2) }}" style=" width: 100% !important;max-width: 877px;max-height: 550px;"/>
                        {% else %}
                            <img src="{{ asset('upload/image/gbatad2.jpeg') }}" style=" width: 100% !important;max-width: 877px;max-height: 550px;" />
                        {% endif %}

                        {% if immobilier.imageImmo3 %}
                            <img src="{{ asset('upload/image_immo/' ~ immobilier.imageImmo3) }}" style=" width: 100% !important;max-width: 877px;max-height: 550px;"/>
                        {% else %}
                            <img src="{{ asset('upload/image/gbatad3.jpeg') }}" style=" width: 100% !important;max-width: 877px;max-height: 550px;" />
                        {% endif %}

                    </div>
                </div>
            
                <div class="col-12 description-immo"> 
                    <h3>Descrition</h3>
                    <p>{{ immobilier.description | raw}} </p>
                </div>
                    
            </div>
           
        </div>
        <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2 col-contact">
            {% if is_granted('ROLE_USER') %} 
                <div class="offre-contact">
                    <div>Publiée le <span>{{ immobilier.datecreation|date("d/m/Y") }}</span></div>
                    <div>par <span>{{user_name.username}} <span></div>
                    <div>il est au <span><i class="fas fa-phone-alt"></i> {{user_name.numero}}</span></div>
                    <div>Email: <span>{{user_name.email}}<span></div>
                </div>
            {% else %}
                <div class="offre-descrption-no col-12">Veuillez vous <a href="/login">connecter</a> pour avoir plus d'information sur 
                        l'annonceur
                </div>
            {% endif %}
            <div class="col-12 contact-agence">
                <p class="text-contact">Vous pouvez aussi joindre le service </p>
                <p>info@gbata.xyz</p>
                <p>+225 45 452 861</p>
                <p><i class="fas fa-phone-alt"></i> <i class="fas fa-envelope"></i> <i class="fab fa-whatsapp"></i></p>
            </div>
        </div>

         <!-- ShareThis BEGIN -->
                <div class="sharethis-inline-share-buttons col-12"></div>
            <!-- ShareThis END -->
    </div>

{% endblock %}

