{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">

        {% for immobilier in immobiliers %}

            <div class="col-sm-4">
                <div class="col-sm-12">
                    <img src="{{ asset('upload/image_immo/' ~ immobilier.imageImmo) }}" />
                </div>
                <div class="col-sm-12"> {{ immobilier.titre }} </div>
                <div class="col-sm-12">
                    <div class="col-sm-3"> {{ immobilier.type }} </div>
                    <div class="col-sm-3"> {{ immobilier.bien }} </div>
                    <div class="col-sm-3"> {{ immobilier.typebien }} </div>
                    <div class="col-sm-3"> {{ immobilier.commune}} </div>
                </div>
                <div class="col-sm-12">
                    {{ immobilier.description }}
                </div>
            </div>
        {% endfor %}

    </div>
{% endblock %}