{% extends 'base.html.twig' %}


{% block body %}
    <div class="container">   
              
            <div class="col offre-immo">

                {% if is_granted('ROLE_ANNONCEUR') %} 
                    <div class="admin-action col"><a href="{{ path('admin_immobilier_edit',{id:immobilier.id})}}" class="btn btn-primary" >Modifier</a> </div>
                {% endif %} 

                <div class="row">
                    
                    <div class="col-9">
                        <div class="col-12 titre-immo"> {{ immobilier.titre }} </div>

                        <div class="row row-offre-contenu">
                            <div class="col-3 bien-immo"> {{ immobilier.typebien }} </div>
                            
                            {% if immobilier.bien == 'maison' %}
                        
                                <div class="col-2 pcs"><i class="fas fa-key"></i>  {{ immobilier.piece }} Pièces</div>
                                <div class="col-2 chbr"> <i class="fas fa-bed"></i> {{ immobilier.chambre }} </div>
                                <div class="col-2 dwc"> <i class="fas fa-bath"></i> {{ immobilier.douche }} </div>
                        
                            {% endif %}
                        </div>
                    </div>

                    <div class="col loyer_immo">

                    {% set twigVariable = immobilier.prix %}
                       <p><span id="prix"> </span>   <span>fcfa</span>
                            {% if immobilier.type == 'location' %}
                            <span>/mois</span>
                            {% endif %}
                        </p>

                        <script> 
                            function formatNumber (num) {
                            return num.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1.");
                            }
                            var prix = formatNumber({{ twigVariable }}); 
                            document.getElementById("prix").innerHTML = prix;                             
                       </script>

                        <div class="col comm-immo"><i class="fas fa-map-marker-alt"></i> {{ immobilier.commune }} </div>
                    </div>
                </div>

                <div class="col-12 type-immo-contenu"> <span>{{ immobilier.type }} </span></div>

                <div class="col-12 image-immo">
                    <img src="{{ asset('upload/image_immo/' ~ immobilier.imageImmo) }}"/>
                    <img src="{{ asset('upload/image_immo/' ~ immobilier.imageImmo2) }}"/>
                    <img src="{{ asset('upload/image_immo/' ~ immobilier.imageImmo3) }}"/>
                </div>
                {% if is_granted('ROLE_USER') %} 
                    {% if immobilier.description %}
                        <div class="col-12 description-immo"> 
                        <h3>Descrition</h3>
                        <p>{{ immobilier.description }} </p>
                    </div>
                    {% endif %}
                    <div class="offre-date col-12 offre-descrption-no">Publiée le {{ immobilier.datecreation|date("d/m/Y") }} par {{user_id.username}} il est au <i class="fas fa-phone-alt"></i> {{user_id.numero}}</div>
                {% else %}
                    <div class="offre-descrption-no col-12">Veuillez vous <a href="/login">connecter</a> pour avoir plus d'information sur l'annonceur et la description de l'offre</div>
                {% endif %}

            </div>
    </div>

{% endblock %}

