{% extends 'base.html.twig' %}

{% block body %}
    <div class="container inscription">
        <div class="row">
            <div class="col inscription-left">
                <h2>Grâce à votre compte...</h2>
                <p><span><i class="fas fa-hand-point-right"></i></span>Recevez des offres par SMS</p>
                <p><span><i class="fas fa-hand-point-right"></i></span>Gerer votre demandes</p>
                <p><span><i class="fas fa-hand-point-right"></i></span>Plus d'information sur les offres</p>
                <p class="tous-champs"><span>*</span>Tous ces champs sont obligatoires</p>
                
            </div>
            <div class="col">
                {{ form_start(form) }}
             
                <div class="form-inscription">
                    {{ form_label(form.username, 'Nom*') }}
                    {{ form_widget(form.username) }}
                </div>
                <div class="form-inscription">
                    {{ form_label(form.email, 'Email*') }}
                    {{ form_widget(form.email) }}
                </div>
                <div class="form-inscription">
                    {{ form_label(form.numero, 'Numéro mobile*') }}
                    <div class="row">
                        <div class="col-1 indicatif">+225</div>
                        <div class="col-12 ins-numero">{{ form_widget(form.numero) }}</div>
                    </div>
                    <p> Renseigner votre numéro sans indicatif. Ex: 0545452861.</p>
                </div>
                <div class="form-inscription">
                    {{ form_label(form.password, 'Mot de passe*') }}
                    {{ form_widget(form.password) }}
                </div>
                <div class="form-inscription">
                    {{ form_label(form.captchaCode, 'Vous n\'êtes sûrement pas un robot*, renseignez le code ci-dessous dans le champ*') }}
                    {{ form_widget(form.captchaCode) }}
                </div>
                {{ form_row(form.isActive) }}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <button type="submit" class="btn btn-primary">Enregistrer</button>

                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}