{% extends 'admin.html.twig' %}

{% block body %}

    <div class="container mt-4">
    <h2 class="titre-page"> Liste des offres immobilières</h2>

      {{form_start(form)}}
            <div class="row search">
                <div class="col-sm-3 col-xs-12">
                    {{ form_label(form.type, 'Type') }}
                    {{ form_widget(form.type) }}
                </div>
                <div class="col-sm-3 col-xs-12">
                    {{ form_label(form.bien, 'Bien') }}
                    {{ form_widget(form.bien) }}
                </div>
                <div class="col-sm-3 col-xs-12">
                    {{ form_label(form.typebien, 'Type Bien') }}
                    {{ form_widget(form.typebien) }}
                </div>
                <div class="col-sm-3 col-xs-12">
                    {{ form_label(form.commune, 'Commune') }}
                    {{ form_widget(form.commune) }}
                </div>
                <div class="col-sm-4 col-xs-12">
                    {{ form_label(form.piece, 'Pièce') }}
                    {{ form_widget(form.piece) }}
                </div>
                <div class="col-sm-4 col-xs-12">
                    {{ form_label(form.prix, 'Prix') }}
                    {{ form_widget(form.prix) }}
                </div>
                <div class="col-sm-4 col-xs-12 btn search">
                     <button type="submit" class="btn btn-primary ">Recherche</button>
                </div>
             </div>
             
            
         {{form_end(form)}}

        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Titre</th>
                <th scope="col">Type</th>
                <th scope="col">Bien</th>
                <th scope="col">Type Bien</th>
                <th scope="col">Commune</th>
                <th scope="col">Prix</th>
                <th scope="col">Pièces</th>
                <th scope="col">Etat</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            {% for immobilier in immobiliers %}
                <tbody>
                <tr>
                    <td> {{ immobilier.id }} </td>
                    <td> {{ immobilier.titre }} </td>
                    <td> {{ immobilier.type }} </td>
                    <td> {{ immobilier.bien }} </td>
                    <td> {{ immobilier.typebien }} </td>
                    <td> {{ immobilier.commune}} </td>
                    <td> {{ immobilier.prix}} </td>
                    <td> {{ immobilier.piece }} </td>
                    <td> 
                        {% if immobilier.etat == false %}
                            <span style="color:#337ab7;font-weight:bold;">En attente</span>
                        {% else %}
                            <span style="color:#c9302c; font-weight:bold;">Envoyée</span>
                        {% endif %}
                    </td>
                    <td> 
                        <a href="{{ path('admin_immobilier_edit',{id:immobilier.id}) }}" class="btn btn-primary">Edit</a>
                        <a href="javascript:void(0)" onclick="if(confirm('Voulez vous vraiment supprimer cette offre !')){window.location='{{ path('admin_immobilier_delete',{id:immobilier.id})}}';}" class="btn btn-danger">Delete</a>

                    
                    </td>
                    

                </tr>
                </tbody>

        {% endfor %}
        </table>
           <nav aria-label="Page navigation example">{{ knp_pagination_render(immobiliers) }}</nav> 
    </div>

{% endblock %}