{% extends 'admin.html.twig' %}

{% block body %}
    <div class="container">
        <form action="{{ path('list_user')}}" metho="get">
            <label for="filter">Recherche</label>
            <input name="filter" type="text">
            <button type="submit" class="btn btn-primary">Rechercher</button>

        </form>
        <div id="user">
            <h2 class="titre-page"> Liste des utlisateurs</h2>

            <input class="search" placeholder="Numero" />

            <div class="table-responsive">
                <table class="table table-striped list">
                    <thead>
                    <tr>
                        <th scope="col">Identifiant</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Numéro</th>
                        <th scope="col">Rôle</th>
                        <th scope="col">Email</th>
                        
                    </tr>
                    </thead>
                    {% for user in users %}
                    <tbody >
                    <tr>
                        <td> {{ user.id }} </td>
                        <td class="name"> {{ user.username }} </td>
                        <td class="numero"> {{ user.numero }} </td>
                        <td> 
                            {% for role in user.roles %}
                                {% if role == 'ROLE_ADMIN' %}
                                    Administrateur
                                {% elseif role== 'ROLE_USER' %}
                                    Utilisateur
                                {% else %}
                                    Annonceur
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td> {{ user.email }} </td>
                        <td> <a href="{{ path('edit_user',{
                                        id:user.id
                                })
                                }}" class="btn btn-primary">Modifier</a> </td>
                        
                    </tr>
                    </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        var options = { valueNames: [ 'numero','name' ] };
        var userList = new List('user', options);
    </script>
{% endblock %}