{% extends 'admin.html.twig' %}

{% block body %}

    <div class="container">
          <h2 class="titre-page">Liste de toutes les demandes immobilière</h2>
        <form action="{{ path('admin_list_demande_immo')}}" metho="get">
            <div class="row">
                <div class="col-3">
                    <label for="filter">Commune</label>
                    <input name="commune" type="text">
                </div>
                <div class="col-3">
                    <label for="filter">Pièce</label>
                    <input name="piece" type="text">
                </div>
                <div class="col-3">    
                    <label for="filter">Budget Min</label>
                    <input name="budgetmin" type="text">
                </div>

                <div class="col-3">    
                    <label for="filter">Budget Max</label>
                    <input name="budgetmax" type="text">
                </div>
            </div>
            <button type="submit" class="btn btn-primary search">Rechercher</button>
           
        </form>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Type</th>
                    <th scope="col">Type bien</th>
                    <th scope="col">Commune</th>
                    <th scope="col">Nombre de pièces</th>
                    <th scope="col">Budget</th>
                </tr>
            </thead>
            {% for demande in demandes %}
                <tbody>
                    <tr>
                        <td> {{ demande.type }} </td>
                        <td> {{ demande.typebien}} </td>
                        <td> {{ demande.commune}} </td>
                        <td> {{ demande.piece}} </td>
                        <td> {{ demande.budget }} </td>
                        <td> <a href="{{ path('admin_demande_immo_edit',{ id:demande.id}) }}" class="btn btn-primary">
                                Modifier</a> </td>
                    </tr>
                </tbody>
            {% endfor %}
        </table>

         <nav aria-label="Page navigation example">{{ knp_pagination_render(demandes) }}</nav> 
    </div>

{% endblock %}